
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&display=swap");

body {
margin: 0px;
font-family: "circular std", sans-serif;
font-weight: 400;
font-style: normal;
background-color: black;



}
#logo{
    width: 150px;
 
}
#container{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url( https://assets.nflxext.com/ffe/siteui/vlv3/93da5c27-be66-427c-8b72-5cb39d275279/76fcd07f-b171-49c7-8a77-6177ad5a6122/BR-pt-20240226-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: 100%;
    height: 800px;
    width: auto;
    padding: 30px;

  
}




#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

}
select {
     padding: 5px 15px ;
     font-size: 15px;
     color: white;
     background-color: rgba(0, 0, 0, 0.456);
     background-image: url(../assets/images/earth-11015_640.jpg);
     background-size: 20px;
     background-repeat: no-repeat;
     background-position: left;

}

#btn-enter{
    padding: 7px 3px;
    font-size: 15px;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    margin: 17px;
}
#main {
color: white;
margin-top: 200px;
margin-left: 230px;
}
#title-main{
    font-size: 43px;
    font-weight: 800;
  
}

.subtitle-main{
  margin-left: 180px;

}
    #h3main{
        margin-left: 110px ;
        margin-top: 35px;

}
.register {
   
    display: flex;
    margin-right: 150px;
    width: 250px;


}


#login{
    border: none;
    border-radius: 3px;
    background-color: #e50914;
    color: white;
    padding: 1px 50px;
    margin-left: 8px;
    font-size: 18px;
    cursor: pointer;
  
  
    
    }
    
    
#input{
        border: none;
        height:50px;
        width: 350px;
        margin-left: 400px;
        padding: 1px 80px;
        border: 1px solid grey;
        background-color: rgb(43, 38, 38);
        border-radius: 5px;
      
}
.marketing-page{
    display: flex;
    align-items: center;
    border-radius: 35px;
    gap: 0%;
}
.container2{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    background-color: black;
    padding: 20px;
    padding-bottom: 50px;
   margin: 0%;

}
.filhas{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(142,1,72);
background: linear-gradient(90deg, rgba(142,1,72,1) 0%, rgba(23,0,40,1) 30%);

    color: rgb(155, 141, 141);
    width: 200px;
    height: 300px;
  
    transition: all 200ms linear;
}
.filhas:hover{
    background-color: #cacaca;
    width: 205px;
    height: 305px;
    transition: all 200ms linear;
}
#title-cntn2{
color: white;
height: auto;
width: auto;
}
.motivos{
    background-color: black;
    height: auto;
    width: auto;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box-container{
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    margin-top: 100px;    
    background: linear-gradient(333.52deg, #000235 24.58%, #010F42 84.55%, #E40913 104.96%);;
    border-radius: 5px;
}

.box-info{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    padding: 40px;
    justify-content: center;
}

.box-title{
    font-size: 48px;
    font-weight: 800;
}

.subtitle-main{
    font-size: 20px;
}

.shadow{
    width: 85%;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.467);
    margin: 0 auto;
}

@media (max-width:416px){
    body{
      font-size: 30px;
    }

}
